# Build Folders
[Bb]in/
[Oo]bj/
[Bb]in
[Oo]bj

# Tests
test-results/
*.userprefs
TestResults

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

# Others
*.suo
*.user
*.sln.docstates
.DS_Store

/source/Precision/Real/Vector2/Vector2.Constants.cs
/source/Precision/Real/Vector2/Vector2.Maths.cs
/source/Precision/Real/Vector2/Vector2.Operators.cs
/source/Precision/Real/Vector2/Vector2.Splines.cs
/source/Precision/Real/Vector2/Vector2.Utilities.cs
/source/Precision/Real/Vector2/Vector2.cs
/source/Precision/Real/Vector3/Vector3.Constants.cs
/source/Precision/Real/Vector3/Vector3.Maths.cs
/source/Precision/Real/Vector3/Vector3.Operators.cs
/source/Precision/Real/Vector3/Vector3.Splines.cs
/source/Precision/Real/Vector3/Vector3.Utilities.cs
/source/Precision/Real/Vector3/Vector3.cs
/source/Precision/Real/Vector4/Vector4.Constants.cs
/source/Precision/Real/Vector4/Vector4.Maths.cs
/source/Precision/Real/Vector4/Vector4.Operators.cs
/source/Precision/Real/Vector4/Vector4.Splines.cs
/source/Precision/Real/Vector4/Vector4.Utilities.cs
/source/Precision/Real/Vector4/Vector4.cs
/source/Precision/Integer/Point2.cs
/source/Precision/Integer/Point3.cs
/source/Precision/Real/BoundingBox/BoundingBox.cs
/source/Precision/Real/BoundingFrustum/BoundingFrustum.cs
/source/Precision/Real/BoundingSphere/BoundingSphere.cs
/source/Precision/Real/GaussianElimination.cs
/source/Precision/Real/GjkDistance.cs
/source/Precision/Real/Matrix44/Matrix44.Constants.cs
/source/Precision/Real/Matrix44/Matrix44.Create.cs
/source/Precision/Real/Matrix44/Matrix44.Maths.cs
/source/Precision/Real/Matrix44/Matrix44.Operators.cs
/source/Precision/Real/Matrix44/Matrix44.Utilities.cs
/source/Precision/Real/Matrix44/Matrix44.cs
/source/Precision/Real/Plane/Plane.cs
/source/Precision/Real/Quad/Quad.cs
/source/Precision/Real/Quaternion/Quaternion.Constants.cs
/source/Precision/Real/Quaternion/Quaternion.Create.cs
/source/Precision/Real/Quaternion/Quaternion.Maths.cs
/source/Precision/Real/Quaternion/Quaternion.Operators.cs
/source/Precision/Real/Quaternion/Quaternion.Utilities.cs
/source/Precision/Real/Quaternion/Quaternion.cs
/source/Precision/Real/Ray/Ray.cs
/source/Precision/Real/Triangle/Triangle.cs
/tests/Precision/Real/Matrix44.Tests.cs
/source/IPackedReal.cs
/source/Packed/Alpha8.cs
/source/Packed/Bgr_5_6_5.cs
/source/Packed/Bgra16.cs
/source/Packed/Bgra_5_5_5_1.cs
/source/Packed/Byte4.cs
/source/Packed/NormalisedByte2.cs
/source/Packed/NormalisedByte4.cs
/source/Packed/NormalisedShort2.cs
/source/Packed/NormalisedShort4.cs
/source/Packed/Rg32.cs
/source/Packed/Rgba32.cs
/source/Packed/Rgba64.cs
/source/Packed/Rgba_10_10_10_2.cs
/source/Packed/Short2.cs
/source/Packed/Short4.cs
