<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
// ┌────────────────────────────────────────────────────────────────────────┐ \\
// │ Abacus - Fast, efficient, cross precision, maths library               │ \\
// ├────────────────────────────────────────────────────────────────────────┤ \\
// │ Brought to you by:                                                     │ \\
// │          _________                    .__               __             │ \\
// │         /   _____/__ __  ____    ____ |__|____    _____/  |_           │ \\
// │         \_____  \|  |  \/    \  / ___\|  \__  \  /    \   __\          │ \\
// │         /        \  |  /   |  \/ /_/  >  |/ __ \|   |  \  |            │ \\
// │        /_______  /____/|___|  /\___  /|__(____  /___|  /__|            │ \\
// │                \/           \//_____/         \/     \/                │ \\
// │                                                                        │ \\
// ├────────────────────────────────────────────────────────────────────────┤ \\
// │ Copyright © 2013 A.J.Pook (http://sungiant.github.com)                 │ \\
// ├────────────────────────────────────────────────────────────────────────┤ \\
// │ Permission is hereby granted, free of charge, to any person obtaining  │ \\
// │ a copy of this software and associated documentation files (the        │ \\
// │ "Software"), to deal in the Software without restriction, including    │ \\
// │ without limitation the rights to use, copy, modify, merge, publish,    │ \\
// │ distribute, sublicense, and/or sellcopies of the Software, and to      │ \\
// │ permit persons to whom the Software is furnished to do so, subject to  │ \\
// │ the following conditions:                                              │ \\
// │                                                                        │ \\
// │ The above copyright notice and this permission notice shall be         │ \\
// │ included in all copies or substantial portions of the Software.        │ \\
// │                                                                        │ \\
// │ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,        │ \\
// │ EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF     │ \\
// │ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. │ \\
// │ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY   │ \\
// │ CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,   │ \\
// │ TORT OR OTHERWISE, ARISING FROM,OUT OF OR IN CONNECTION WITH THE       │ \\
// │ SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.                 │ \\
// └────────────────────────────────────────────────────────────────────────┘ \\

<#@ include file="../Types.t4"#>

using System;
using System.Runtime.InteropServices;
using System.Globalization;
using System.Collections;
using System.Collections.Generic;
using NUnit.Framework;

namespace Sungiant.Abacus.Tests
{

<#@ include file="RealMaths.Tests.t4"#>
<#@ include file="PackUtils.Tests.t4"#>

}

namespace Sungiant.Abacus.Packed.Tests
{
	public static class Settings
    {
        public const Int32 NumTests = 50000;
    }

<#@ include file="Packed/Alpha8.Tests.t4"#>
<#@ include file="Packed/Bgr_5_6_5.Tests.t4"#>
<#@ include file="Packed/Bgra16.Tests.t4"#>
<#@ include file="Packed/Bgra_5_5_5_1.Tests.t4"#>
<#@ include file="Packed/Byte4.Tests.t4"#>
<#@ include file="Packed/NormalisedByte2.Tests.t4"#>
<#@ include file="Packed/NormalisedByte4.Tests.t4"#>
<#@ include file="Packed/NormalisedShort2.Tests.t4"#>
<#@ include file="Packed/Rg32.Tests.t4"#>
<#@ include file="Packed/Rgba32.Tests.t4"#>
<#@ include file="Packed/Rgba64.Tests.t4"#>
<#@ include file="Packed/Rgba_10_10_10_2.Tests.t4"#>
<#@ include file="Packed/Short2.Tests.t4"#>
<#@ include file="Packed/Short4.Tests.t4"#>

}


<# foreach(var type in GetRealTypes() ) { #>
namespace Sungiant.Abacus.<#= type #>Precision.Tests
{
<#@ include file="Precision/Real/Matrix44.Tests.t4"#>

<#@ include file="Precision/Real/Vector2.Tests.t4"#>
}

<# } #>